.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.leaflet-container {
	width: 100%;
	height: 100vh;
	position: fixed;
}

/* div .MuiBackdrop-root {
	background-color: rgb(237 234 234 / 50%);
} */
.ant-table table {
	font-size: 12px;
	font-weight: 600;
}
.ant-table-pagination.ant-pagination {
	display: none;
}
.ant-table-wrapper {
	text-transform: capitalize;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
	position: relative;
	padding: 8px 8px;
	overflow-wrap: break-word;
	border: 1px solid #f7f7f7;
}
